# Conversation logs
conversation_xcode.md

# Flutter/Dart
*.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/
logs/


# macOS
*.xcuserdata
*.xcworkspace/xcuserdata/
.DS_Store
**/.DS_Store
